<!DOCTYPE html>
<html>
<head>
    <title>Game Form</title>
</head>
<body>
    <h1>Game Form</h1>
    <%= form_with model: @game do |game| %>
        <%= game.text_field :name %>
        <%= game.text_field :price %>
        <%= game.text_area :description %>
        <%= select(:game, :platform_id, options_from_collection_for_select(@platforms, :id, :name)) %>
        <%= select(:game, :company_id, options_from_collection_for_select(@companies, :id, :name)) %>
        <%= game.submit %>
    <% end %>
</body>
</html>
