<!DOCTYPE html>
<html>
  <head>
    <title>Book Form</title>
  </head>
  <body>
    <h1>Book Form</h1>
    <% if(@book) %>
        <%= form_with model: @book do |form| %>
            <%= form.text_field :name %>
            <%= form.submit %>
        <% end %>
    <% else %>
        <%= form_with model: Book.new do |form| %>
            <%= form.text_field :name %>
            <%= form.submit %>
        <% end %>
    <% end %>
  </body>
</html>
